
* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    /* background-color: #f9f9f9; */
    background-image: linear-gradient(to bottom, #A6FFA1, #BFFFBC, #7D8CC4);
    color: #333;
}

header {
    /* background-color: blue; */
    background-color: #212227;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.header{
    font: bolder;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.messageIntro {
    align-items: center;
    padding-left: 30%;
    padding-bottom: 20px;
 


.lights{
color: #2D080A;
font-size: larger;
}

.camera{
    color: #2D080A;
    font-size: larger;
}

.action{
    color: #FFFBFA;
    font-size: larger;
}

 
}

h1 {
    font-size: 2.5rem;
}

main {
    padding: 20px;
}

h2 {
    margin-bottom: 10px;
    font-size: 2rem;
}

.message p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.mesage2 {
    font-style: normal;

}

#olutade{
    font: bolder;
    color: #47682C;
    font-style: oblique;
}

.gallery {
    margin-top: 20px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.images img {
    max-width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex: 1 1 calc(33% - 20px); /* Adjusts number of images in a row */
}

footer {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    background-color: #D183C9;
    font-style: oblique;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .images img {
        flex: 1 1 calc(50% - 20px); /* Two images per row on smaller screens */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .images img {
        flex: 1 1 100%; /* One image per row on very small screens */
    }
}
